#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;


  aside {
    flex: 7;

    background: #835AFD;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 123px 84px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins';
    }

    p {
      font-size: 24px;
      margin-top: 16px;
      line-height: 32px;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    .main-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 320px;
      align-items: stretch;
      text-align: center;

      img {
        align-self: center;
      }

      .create-room {
        margin-top: 56px;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: #EA4335;
        color: #FEFEFE;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        border: 0;

        transition: filter 0.2;

        &:hover {
          filter: brightness(0.9);
        }

        img {
          margin-right: 8px;
        }
      }

      .separator{
        font-size: 14px;
        color: #A8A8B3;

        margin: 32px 0;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          flex: 1;
          height: 1px;
          background: #A8A8B3;
          margin-right: 16px;
        }
        &::after {
          content: '';
          flex: 1;
          height: 1px;
          background: #A8A8B3;
          margin-left: 16px;
        }
      }

      form {
        input{
          height: 50px;
          padding: 16px 15.5px;
          background: #FFF;
          border-radius: 8px;
          border: 1px solid #A8A8B3;
        }

        button {
          margin-top: 16px;
        }

        button, input {
          width: 100%;
        }
      }
    }

  }
}